<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Cliff</title>
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='loader.css')}}">
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div class="loader" style="display:none" id="spinner"></div>
<script type="text/javascript">
function showspinner() {
  document.getElementById('content').style.display = 'none';
  document.getElementById('spinner').style.display = 'block';
  }
</script>
</body>
</html>